{% extends 'base.html' %}
{% load static custom_filters %}

{% block title %}Inventory Items{% endblock %}

{% block content %}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <section class="section">
            <div class="row" id="table-striped-dark">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Items</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">

                            </div>
                            <!-- table strip dark -->
                            <div class="table-responsive">
                                <table class="table table-striped table-dark mb-0">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Current Total In Store</th>
                                            <th>Supplier</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in inventory_items %}
                                            <tr>
                                                <td>{{ item.name|capfirst }}</a></td>
                                                <td style="color: green;">{{ item.total_in_store }}</td>
                                                <td>{{ item.supplier }}</td>
                                                <td style="color: blue;"><a href="{% url 'item' item.pk %}" class="btn">View</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                        
                                </table>
                            </div>
                            <br>
                            <div class="card-body">
                                <a href="{{ home_url }}">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}