{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% now "Y" as current_year %}
{% now "M" as current_month %}

{% block title %}Monthly Transaction Archives {% endblock %}

{% block content %}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <section class="section">
            <div class="row" id="table-striped-dark">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Monthly Transactions</h4>
                        </div>
                        <div class="search-bar card-header">
                            <input type="text" id="searchInput" onkeyup="searchFunction()"
                                placeholder="Item, transaction type..">
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <p>
                                    {% if previous_month %}
                                    <a href="{% url 'month_transaction_archives' year=previous_month|date:'Y' month=previous_month|date:'M' %}">
                                        Previous Month: </a>{{ previous_month|date:"F Y" }}
                                    {% endif %}
                                    {% if next_month %}
                                    <a href="{% url 'month_transaction_archives' year=next_month|date:'Y' month=next_month|date:'M' %}">
                                        Next Month: </a>{{ next_month|date:"F Y" }}
                                    {% endif %}
                                </p>
                                <div>
                                    <a href="{{ home_url }}">Back Home</a>
                                </div>
                            </div>
                            <!-- table strip dark -->
                            {% if object_list %}
                            <div class="table-responsive">
                                <div class="card-body">
                                    <h1>All Inventory Transactions for {{ month|date:"M" }}</h1>
                                </div>
                                <table class="table table-striped table-dark mb-0">
                                    <thead>
                                        <tr>
                                            <th>Inventory Item</th>
                                            <th>Transaction Type</th>
                                            <th>Quantity Transferred</th>
                                            <th>Current total in store</th>
                                            <th>Transaction Time</th>
                                            <th>Detail View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for transaction in object_list %}
                                        <tr>
                                            <td><a href="{% url 'item' pk=transaction.inventory_item.pk %}" >{{ transaction.inventory_item|capfirst }}</a></td>
                                            <td>{{ transaction.get_transaction_type_display }}</td>
                                            <td style="color: red;">
                                                -{{ transaction.quantity }}
                                            </td>
                                            <td style="color:green;">{{ transaction.inventory_item.total_in_store }}</td>
                                            <td>{{ transaction.transaction_date }}</td>
                                            <td><a href="{% url 'transaction_detail' year=transaction.transaction_date|date:'Y' month=transaction.transaction_date|date:'m' pk=transaction.pk %}" >Details</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>       
                                </table>
                            </div>
                            {% else %}
                            <p class="message">No Transactions Available For This Month.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}