<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Archives</title>
</head>
<body>
    <h1>Monthly Archives for {{ year }}</h1>
    <ul>
        {% for month_archive in monthly_archives %}
            <li>
                <h2>{{ month_archive.month }}</h2>
                <ul>
                    {% for booking in month_archive.bookings %}
                       <li><a href="{% url 'booking_detail' year=year month=month pk=booking.pk %}">{{ booking }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
