{% extends 'base.html' %}
{% load static custom_filters %}
{% load tz %}

{% block title %}Event Details{% endblock %}

{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <section class="section">
            <div class="row" id="table-striped-dark">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Event Details</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">

                            </div>
                            <!-- table strip dark -->
                            <div class="table-responsive">
                                <table class="table table-striped table-dark mb-0">
                                    <tr>
                                        <th>Guest Name</th>
                                        <td>{{ events.customer_name|upper }} </td>
                                    </tr>
                                    <tr>
                                        <th>Contact</th>
                                        <td>{{ events.mobile_contact }}</td>
                                    </tr>
                                    <tr>
                                        <th>Place or Event</th>
                                        <td>{{ events.service.place }}</td>
                                    </tr>
                                    <tr>
                                        <th>Reservation Date</th>
                                        <td>{{ events.reservation_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Event Date</th>
                                        <td>{{ events.event_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Number of guests</th>
                                        <td>{{ events.number_of_guests }}</td>
                                    </tr>
                                    <tr>
                                        <th>Frequency or number of days</th>
                                        <td>{{ events.number_of_days }}</td>
                                    </tr>
                                    <tr>
                                        <th>Amount</th>
                                        <td>UGX. {{ events.sub_total_amount|add_commas }}</td>
                                    </tr>
                                </table>
                            </div>
                            <br>
                            <div class="card-body">
                                <a href="{{ home_url }}">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}