{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
        <div class="text-center">
            <img class="img-error" src="{% static 'css/compiled/images/svg/404.svg' %}" alt="Not Found">
            <h1 class="error-title">NOT FOUND</h1>
            <p class='fs-5 text-gray-600'>Page Not Available.</p>
            <a href="{% url 'home' %}" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
        </div>
    </div>
</div>

{% endblock %}