<!DOCTYPE html>
<html lang="en">
    {% load custom_filters archive_custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Detail</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Reservation Detail</h1>
    <table>
        <tr>
            <th>Guest Name</th>
            <td>{{ reservation.guest_name }}</td>
        </tr>
        <tr>
            <th>Guest Email</th>
            <td>{% if reservation.guest_email %}{{ reservation.guest_email }}{% else %}No email Provided.{% endif %} </td>
        </tr>
        <tr>
            <th>Guest Contact</th>
            <td>{{ reservation.guest_contact }}</td>
        </tr>
        <tr>
            <th>Rooms</th>
            <td>{{ reservation.room_or_rooms.all|join:", " }}</td>
        </tr>
        <tr>
            <th>Reservation Date</th>
            <td>{{ reservation.reservation_date }}</td>
        </tr>
        <tr>
            <th>Reservation Number</th>
            <td>{{ reservation.reservation_number }}</td>
        </tr>
        <tr>
            <th>Check-in Date</th>
            <td>{{ reservation.check_in_date }}</td>
        </tr>
        <tr>
            <th>Guest Checked-in</th>
            <td>{% if reservation.check_in %}✓{% else %}✗{% endif %}</td>
        </tr>
        <tr>
            <th>Check-out Date</th>
            <td>{{ reservation.check_out_date }}</td>
        </tr>
        <tr>
            <th>Reservation Deadline Time</th>
            <td>{{ reservation.deadline }}</td>
        </tr>
        <tr>
            <th>Reservation Status</th>
            <td>{{ reservation.get_status_display }}</td>
        </tr>
        <tr>
            <th>Number of Adults</th>
            <td>{{ reservation.number_of_adults }}</td>
        </tr>
        <tr>
            <th>Number of Children</th>
            <td>{% if reservation.number_of_children %} {{ booking.number_of_children }} {% else %}None{% endif %}</td>
        </tr>
        <tr>
            <th>Any Deposit Paid</th>
            <td>{% if reservation.deposit %}✓{% else %}✗{% endif %}</td>
        </tr>
        <tr>
            <th>Dopist Amount</th>
            <td> {% if reservation.deposit_amount %}UGX. {{ reservation.deposit_amount|add_commas }}{% else %}None{% endif %} </td>
        </tr>
        <tr>
            <th>Balance</th>
            <td>{{ reservation.balance }}</td>
        </tr>
        <tr>
            <th>Reservation Created At</th>
            <td>{{ reservation.created_at }}</td>
        </tr>
        <tr>
            <th>Reservation Updated At</th>
            <td>{{ reservation.updated_at }}</td>
        </tr>
        <tr>
            <th>Special Requests</th>
            <td>{% if reservation.special_requests %} {{ reservation.special_requests }} {% else %} No special Requests{% endif %}</td>
        </tr>
    </table>

    <h2>Payment Information</h2>
    <table>
        <tr>
            <th>Receipt Number</th>
            <th>Payment Status</th>
            <th>Rate Type</th>
            <th>Amount Paid</th>
            <th>Amount In Words</th>
        </tr>
        {% for info in reservation.reserve_info.all %}
            <tr>
                <td>{{ info.receipt_number }}</td>
                <td>{{ info.get_payment_status_display }}</td>
                <td>
                    {% if info.standard_rate %}
                        Standard Rate
                    {% elif info.promotional_rate %}
                        Promotional Rate
                    {% else %}
                        Corporate Rate
                    {% endif %}
                </td>
                <td>UGX. {{ info.amount_paid|add_commas }}</td>
                <td>{{ info.amount_paid|shillings_in_words }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{{ home_url }}">Back to Home</a>
    </div>
</body>
</html>
