<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department List</title>
</head>
<body>
    <h1>Department List</h1>
    <ul>
        {% for department in departments %}
            <li>
                <a href="{% url 'department_detail' department.group.pk %}">
                    {{ department.group.name }}
                </a>
                - Head of Department: <a href="{% url 'base_user_detail' department.leader.pk %}">{{ department.leader.email }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
