{% extends 'base.html' %}
{% load static %}

{% block title %}Department Details{% endblock %}

{% block content %}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <section class="section">
            <div class="row" id="table-striped-dark">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Department Details</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <h1>{{ department.name|capfirst }}</h1>
                                <p>Head of Department:</p>
                            </div>
                            <!-- table strip dark -->
                            <div class="table-responsive">
                                <table class="table table-striped table-dark mb-0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ department_leader.profile.surname }} 
                                                {{ department_leader.profile.given_name}} 
                                            </td>
                                            <td>
                                                <a href="{% url 'base_user_detail' user.pk %}">{{ department_leader}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="card-body">
                                    <p>Department Members:</p>
                                </div>
                                <table class="table table-striped table-dark mb-0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in users.all %}
                                        <tr>
                                            <td>{{ member.profile.surname }} {{ member.profile.given_name }}</td>
                                            <td>
                                                <a href="{% url 'base_user_detail' member.pk %}">{{ member.email }}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="card-body">
                                <a href="{{ home_url }}">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}