<!DOCTYPE html>
<html lang="en">
    {% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Statistics</title>
</head>
<body>
    <h2>Room Statistics</h2>
    <!-- Add a form element with a text input and a submit button -->
    <form method="get">
        <input type="text" name="q" placeholder="Search by name, room number, capacity or status">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Room Number</th>
                <th>Floor Number</th>
                <th>Capacity</th>
                <th>Status</th>
                <th>Cleaned</th>
                <th>Last Cleaned</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.name }}</td>
                    <td><a href="{% url 'room_detail' room.pk %}" >{{ room.room_number }} </a> </td>
                    <td>{{ room.floor_number }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.status }}</td>
                    <td>{{ room.cleaned }}</td>
                    <td>{{ room_cleaned_data|default:"Not Sure!"|get_item:room.pk }}</td>
                    <!-- Add more columns as needed -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div>
    <a href="{% url 'home' %}">Back to Home</a>
    </div>
</body>
</html>
