<!DOCTYPE html>
<html lang="en">
    {% load tz %}
    {% now "W" as current_week %}
    {% now "Y" as current_year %}
    {% now "M" as current_month %}
    {% now "d" as current_day %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Welcome to the Home Page</h2>
    <br>
    <div>
    <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div>
    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
    </div>
    <div>
    <a href="{% url 'room_stats' %}">View Room Stats</a>
    </div>
    <div>
        <a href="{% url 'user_list' %}" >View Users</a>
    </div>
    <div>
        <a href="{% url 'department_list' %}" >Departments</a>
    </div>
    <div>
        <a href="{% url 'cleaning_tasks' %}" >Cleaning tasks</a>
    </div>
    <div>
        <a href="{% url 'category_list' %}" >Room Categories</a>
    </div>
    <div>
        <a href="{% url 'clean_rooms_list' %}" >View clean rooms</a>
    </div>
    <div>
        <a href="{% url 'booking_year_archive' year=current_year %}" >Yearly Archives</a>
    </div>
    
    <div>
        <a href="{% url 'archive_week' year=current_year week=current_week  %}" >Weekly Bookings</a>
    </div>
    <div>
        <a href="{% url 'archive_day' year=current_year month=current_month day=current_day  %}" >Daily Bookings</a>
    </div>
    <div>
        <a href="{% url 'archive_day_reservation' year=current_year month=current_month day=current_day  %}" >Daily reservation</a>
    </div>
    <div>
        <a href="{% url 'archive_week_reservation' year=current_year week=current_week  %}" >Weekly Reservations</a>
    </div>
    <div>
        <a href="{% url 'reservation_year_archive' year=current_year %}" >Yearly Reservations</a>
    </div>
</body>
</html>