<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Welcome to the Home Page</h2>
    <br>
    <div>
    <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div>
    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
    </div>
    <div>
    <a href="{% url 'room_stats' %}">View Room Stats</a>
    </div>
    <div>
        <a href="{% url 'user_list' %}" >View Users</a>
    </div>
    <div>
        <a href="{% url 'department_list' %}" >Departments</a>
    </div>
    <div>
        <a href="{% url 'cleaning_tasks' %}" >Cleaning tasks</a>
    </div>
    <div>
        <a href="{% url 'category_list' %}" >Room Categories</a>
    </div>
</body>
</html>