<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Statistics</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Gender Statistics</h1>
    <!-- Create canvas element for the pie chart -->
    <canvas id="genderPieChart" width="400" height="350px"></canvas>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('DOM loaded');

            const currentYear = new Date().getFullYear();
            const year = currentYear;

            console.log('Fetching data for year:', year);

            fetch(`http://localhost:8000/apis/guests/gender/?year=${year}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Data from API:', data);

                    const maleGuestsCount = data.male_guests_count;
                    const femaleGuestsCount = data.female_guests_count;

                    console.log('Male Guests Count:', maleGuestsCount);
                    console.log('Female Guests Count:', femaleGuestsCount);

                    // Get canvas element
                    const canvas = document.getElementById('genderPieChart');
                    const ctx = canvas.getContext('2d');

                    // Create pie chart
                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Male', 'Female'],
                            datasets: [{
                                data: [maleGuestsCount, femaleGuestsCount],
                                backgroundColor: ["#435ebe", "#55c6e8"]
                            }]
                        },
                        options: {
                            responsive: false,
                            maintainAspectRatio: false
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    </script>
</body>

</html>