{% extends 'base.html' %}
{% load static custom_filters %}

{% block title %}Invoice{% endblock %}

{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="card">
        <div class="card-body">
            <div class="container mb-5 mt-3">
                <div class="row d-flex align-items-baseline">
                    <div class="col-xl-9">
                        <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>{{ booking_number }}</strong></p>
                    </div>
                    <div class="col-xl-3 float-end">
                        <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                                class="fas fa-print text-primary"></i> Print</a>
                        <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                                class="far fa-file-pdf text-danger"></i> Export</a>
                    </div>
                    <hr>
                </div>

                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">
                            <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                            <p class="pt-0">HM View Hotel </p>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xl-8">
                            <ul class="list-unstyled">
                                <li class="text-muted">To Mr/Ms: <span style="color:#5d9fc5 ;">
                                        {{ first_name|capfirst }} {{given_name|capfirst}} </span></li>
                                <li class="text-muted">
                                    Address: {% if address %} {{ address|capfirst }}{% else %} -{% endif %} </li>
                                <li class="text-muted">
                                    <i class="fas fa-phone">
                                    </i>Contact: {% if contact %}{{ contact }}{% else %} -{% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <p class="text-muted">Invoice</p>
                            <ul class="list-unstyled">
                                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                        class="fw-bold">ID: </span>{{ booking_number }}</li>
                                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                        class="fw-bold">Creation Date: </span> {{ booking_date }} </li>
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i>
                                    <span class="me-1 fw-bold">Status:</span>
                                    <span
                                        class="badge {% if bill_cleared %}bg-success{% else %}bg-danger{% endif %} text-white fw-bold">
                                        {% if bill_cleared %}
                                        Paid
                                        {% else %}
                                        Unpaid
                                        {% endif %}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                            <thead style="background-color:#84B0CA;" class="text-white">
                                <tr>
                                    <th scope="col">Room(s)</th>
                                    <th scope="col">Number of days</th>
                                    <th scope="col">Charge</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% if rooms %}
                                    <td>
                                        {% for room in rooms %}
                                        {{ room.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    {% else %}
                                    <td>--</td>
                                    {% endif %}
                                    <td>{{ booking.number_of_days }}</td>
                                    <td>
                                        {% if payment_info.amount_paid %}
                                        UGX. {{ payment_info.amount_paid|add_commas }}
                                        {% else %}
                                        --
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% if food_or_drinks %}
                        <table class="table table-striped table-borderless">
                            <thead style="background-color:#84B0CA;" class="text-white">
                                <tr>
                                    <th scope="col">Food Or Drink</th>
                                    <th scope="col">unitss</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in food_or_drinks %}
                                <tr>
                                    <td>{{ item.food_or_drink.name }}</td>
                                    <td> {{ item.food_or_drink.units }} </td>
                                    <td>{{ item.quantity }}</td>
                                    <td>UGX. {{ item.sub_total_amount|add_commas }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    {% if food_or_drinks %}
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>
                                UGX. {{ last_food.cumulative_amount|add_commas }}
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    {% if other_services %}
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA;" class="text-white">
                            <tr>
                                <th scope="col">Service</th>
                                <th scope="col">Number of users</th>
                                <th scope="col">Frequency of use</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in other_services %}
                            <tr>
                                <td>{{ service.service.name }}</td>
                                <td>{{ service.number_of_users }}</td>
                                <td>{{ service.number_of_times }}</td>
                                <td>{{ service.sub_total_amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                {% if food_or_drinks %}
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>
                            UGX. {{ last_other_service.cumulative_amount|add_commas }}
                        </li>
                    </ul>
                </div>
                {% endif %}
                <div class="row">
                    <!--<div class="col-xl-8">
                        <p class="ms-3">Add additional notes and payment information</p>

                    </div>-->
                    <div class="col-xl-3">
                        <!--<ul class="list-unstyled">
                            <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>$1110</li>
                            <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(15%)</span>$111</li>
                        </ul>-->
                        <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                                style="font-size: 25px;">
                                {% if total_bill %}UGX. {{ total_bill|add_commas }}{% else %} --{% endif %} </span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>Thank you for your purchase</p>
                    </div>
                    <div class="col-xl-2">
                        <button type="button" class="btn btn-primary text-capitalize"
                            style="background-color:#60bdf3 ;" onclick="window.location.reload();">
                            Update
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}